@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@keyframes flash {
    0% { color: inherit; }
    50% { color: var(--accent-color); font-size: 18px; }
    100% { color: inherit; font-size: 16px; }
}

.flash {
    animation: flash 1.5s;
}

:root {
    --bg-color: #b9c1cc;
    --text-color: #6c757d;
    --accent-color: #ffd333;
    --contrast-color: #ffd333;
}

html,
body {
    height: 100%;
}

body {
    min-width: 320px;
    font-family: "Noto Sans", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.fade-in {
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}

.fade-in.active {
    opacity: 1;
}

.fade-out {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.fade-out.active {
    opacity: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
}

.table thead th,
th,
tr {
    text-align: center;
}

.btn {
    background-color: var(--bs-table-accent-bg);
}















